* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

.bg {
  background-image: url(../img/bg.jpg);
  /* background-color: black; */
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.navbar {
  box-shadow: 2px 13px 20px -12px rgba(0, 0, 0, 0.35);
}
.navbar-brand {
  margin: 0 10rem;
}
.navbar-nav {
  margin: 0 40rem;
}

.navbar-nav a {
  margin: 0 1rem;
  font-size: 1rem;
}

.con1 {
  width: 80%;
}
.firsrsec {
  /* margin: 5vw 0; */
  display: flex;
  justify-content: center;
}
.firstimg {
  margin-top: 2vw;
  margin-left: 6vw;
  width: 50%;
}

.firsttext {
  margin-top: 5vw;
}

.secondsec {
  display: flex;
  justify-content: center;
}
.sectimg {
  margin-top: 2vw;
  margin-left: 1vw;
  width: 70%;
}

.arrsec {
  margin-top: 3vw;
  /* margin-left: 17vw; */
}

.thirdtext {
  margin-top: 3vw;
  color: #4736a8;
  text-transform: uppercase;
  font-weight: bold;
}

.thirdimg {
  margin-top: 2vw;
  margin-left: 6vw;
  width: 50%;
}

.forthtext {
  margin-top: 8vw;
}

.responsivesec {
  background-color: #f4f2ff;
}

.respimg {
  width: 40%;
  margin-bottom: 2vw;
}

.icons {
  font-size: 1.3rem;
  color: #4736a8;
  margin: 0 10px;
}

.circlesec {
  display: flex;
  justify-content: center;
  margin-top: 1vw;
  text-align: center;
}

.cimg {
  width: 40%;
  /* box-shadow: -1px 3px 22px -6px rgba(0, 0, 0, 0.59); */
}

.circletext {
  margin-top: 4vw;
}

.circlehead {
  color: #4736a8;
  font-weight: bold;
}

.affisec {
  background-color: #f4f2ff;
}

.contactsec {
  background-color: #f4f2ff;
  height: 10rem;
}

.ctext {
  width: 100%;
  text-align: center;
  line-height: 30px;
}

.affitext {
  width: 100%;
  text-align: center;
  line-height: 30px;
}
.affiimg {
  width: 35%;
  margin-bottom: 2vw;
}

.lastcontent {
  background-color: white;
  border-radius: 10px;
  width: 90%;
  margin: 2vw 0;
  padding: 2rem;
  height: 17rem;
}

.con3 {
  width: 80%;
}

.ficon {
  color: #0796e2;
  font-size: 4rem;
  margin: 2rem 0;
}

.lastsec {
  background-color: #0796e2;
}

.minifooter {
  color: white;
  height: 5rem;
  align-items: center;
}

.minifooter a {
  text-decoration: none;
  color: white;
}
.contbtn {
  /* margin-top: 7rem; */
  width: 95%;
}

.btnbtn {
  background-color: #4736a8;
  padding: 10px;
  color: white;
  width: 225px;
  margin: 0 2rem;
}

.gettext {
  color: #4736a8;
  font-weight: bold;
  margin-right: 4rem;
}

.vendortext {
  border-right: solid 3px rgba(0, 255, 0, 0.75);
  white-space: nowrap;
  overflow: hidden;
  margin: 30px auto;
  margin-top: 3vw;
  color: #4736a8;
  text-transform: uppercase;
  font-weight: bold;
}

/* Animation */
.vendortext {
  animation: animated-text 4s steps(20, end) 1s 1 normal both,
    animated-cursor 600ms steps(20, end) infinite;
}

/* text animation */

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 67rem;
  }
}

@keyframes animated-text1 {
  from {
    width: 0;
  }
  to {
    width: 23rem;
  }
}

@keyframes animated-text2 {
  from {
    width: 0;
  }
  to {
    width: 40rem;
  }
}

/* cursor animations */

@keyframes animated-cursor {
  from {
    border-right-color: #4736a8;
  }
  to {
    border-right-color: transparent;
  }
}
/*  */

/* media query section */
@media (max-width: 330px) {
}

@media (max-width: 576px) {
  .firstimg {
    margin-top: 6vw;
    margin-left: 0vw;
    width: 100%;
  }

  .sectimg {
    margin-top: 16vw;
    margin-left: 0vw;
    width: 100%;
  }

  .sectext {
    font-size: 1.2rem;
  }
  .thirdtext {
    font-size: 1.7rem;
    margin-top: 4vw;
  }

  .thirdimg {
    margin-top: 2vw;
    margin-left: 2vw;
    width: 100%;
  }

  .respimg {
    width: 57%;
    margin-bottom: 4vw;
  }

  .cimg {
    width: 100%;
  }

  .circletext p {
    font-size: 0.9rem;
  }

  .affitext {
    font-size: 0.8rem;
    line-height: 15px;
  }

  .affiimg {
    width: 75%;
    margin-bottom: 4vw;
  }

  .ctext {
    font-size: 0.8rem;
    line-height: 15px;
  }

  .resptext {
    font-size: 1rem;
  }

  .lastcontent {
    width: 100%;
  }

  .navbar-brand {
    margin-left: 0;
    margin-right: 0;
  }
  .navbar-nav {
    margin-left: 0;
    margin-right: 0;
  }

  .vendortext {
    animation: animated-text1 4s steps(20, end) 1s 1 normal both,
      animated-cursor 600ms steps(20, end) infinite;
  }

  .vendortext {
    font-size: 0.8rem;
    margin: 16px auto;
  }

  .contactsec {
    height: 10rem;
  }
  .gettext {
    margin-right: 0;
    font-size: 1.2rem;
    text-align: center;
  }
  .btnbtn {
    width: 184px;
    margin: 0 1rem;
    padding: 0;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .navbar-brand {
    margin-left: 0;
    margin-right: 0;
  }
  .navbar-nav {
    margin-left: 0;
    margin-right: 0;
  }

  .vendortext {
    animation: animated-text1 4s steps(20, end) 1s 1 normal both,
      animated-cursor 600ms steps(20, end) infinite;
  }

  .vendortext {
    font-size: 0.9rem;
    margin: 16px auto;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .affitext {
    width: 100%;
    font-size: 1rem;
    text-align: center;
    line-height: 30px;
  }

  .lastcontent {
    padding: 0.5rem;
  }
  .lastcontent h5 {
    font-size: 1rem;
  }
  .navbar-brand {
    margin-left: 0;
    margin-right: 0;
  }
  .navbar-nav {
    margin-left: 0;
    margin-right: 0;
  }

  .vendortext {
    animation: animated-text2 4s steps(20, end) 1s 1 normal both,
      animated-cursor 600ms steps(20, end) infinite;
  }

  .vendortext {
    font-size: 1.5rem;
    margin: 16px auto;
  }

  .contactsec {
    height: 10rem;
  }
  .gettext {
    margin-right: 0;
    font-size: 1.2rem;
    text-align: center;
  }
  .btnbtn {
    width: 184px;
    margin: 2px 0.6rem;
    padding: 5px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .affitext {
    width: 100%;
    font-size: 1rem;
    text-align: center;
    line-height: 30px;
  }

  .lastcontent {
    padding: 1rem;
  }
  .lastcontent h5 {
    font-size: 1rem;
  }

  .btnbtn {
    width: 225px;
    margin: 0 2rem;
  }

  .gettext {
    margin-right: 0;
  }
}

@media (min-width: 1200px) {
  .navbar-brand {
    margin: 0 10rem;
  }
  .navbar-nav {
    margin: 0 20rem;
  }
}
